.category-list {
  width: 85vw;
  margin: 0 auto;
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  @media screen and (max-width: 620px) {
    padding: 6rem 0;
  }
}
