.faq {
  background-color: var(--color-grey-light-2);
  padding: 12rem 0;
  @media screen and (max-width: 620px) {
    padding: 6rem 0;
  }

  &-header,
  &-question-list {
    width: 85vw;
    margin: 0 auto;
  }
}
