.faq-question {
  &-item {
    list-style: none;
    cursor: pointer;
    padding: 2.5rem 0;
    display: flex;
    border-bottom: var(--border-bottom-grey);
  }
  &-icon {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  &-title {
    color: var(--color-primary);
  }
  &-answer {
    padding-top: 1.5rem;
  }
}
