h1 {
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
}

.main-link-text {
  font-size: 1.6rem;
  text-decoration: none;

  &:visited {
    color: var(--color-primary);
  }
}
