.margin-tb-small {
  margin: 2rem 0;
}

.margin-b-small {
  margin-bottom: 1rem;
}
.margin-b-large {
  margin-bottom: 3rem;
}

.margin-b-xxlarge {
  margin-bottom: 5rem;
}

.padding-tb-xxlarge {
  margin: 10rem 0;
}

.inline {
  display: inline;
}
